body {
	background-color: beige;
	color: black;
	font-family: Arial;
}

div.logo {
	background-image: url("https://www.geforce.com/sites/default/files-world/featured_image/pc-games/FeaturedImage-civilization-v.png");
	background-size: cover;
	background-position: 0 -100px;
}

img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

img.auto {
	width: 100%;
}

div.sisu {
	margin: 50px auto 50px auto;
	width: 80%;
	
}

p {
	font-family: Arial;
}

ul.lingid li {
	padding-bottom: 5px;
	font-style: italic;
}