div.logo {
	
}

div.logo img {
	width: 100%;
}


body {
	background-color: #E3E3E3;
	color: black;
	font-family:Arial;
	margin: 0px;
}

div.sisu {
	padding:100px;
}
.sisu p {
	font-family: Arial;
}

.sisu p {
	color:black;
}

.sisu h1 {
	color: black;
}
ul.lingid li {
	padding-bottom: 5px;
	font-style: italic;
}

