div.sisu h2 {
	margin-bottom: 5px;
}
div.sisu h1 {
	font-family: Arial;
	color: #001f3f;
}
		
	
div.sisu a {
	color: #3D9970;
	text-decoration: none;
}

div.sisu {
	margin: 50px auto 50px auto;
	width: 80%;
}

div.logod img {
	margin: 10px 10px 10px 10px;
}

div.logod {
	margin: 0px auto 0px auto;
	width: 100%;
	display: block;
}

div.releasedate {
	margin: 20px auto 20px auto;
	width: 600px;
	color: #0000A0;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}

p.countdown {
	margin: 20px auto 20px auto;
	width: 500px;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}

div.meme img {
	display: block;
	margin: 35px auto 100px auto;
	width: 300px;
}

div.sisu a:hover {
	color: #DDDDDD;
}








