div.logo {
	background-image: url("warcraft.jpg");
	padding: 0px 50px 0px 50px;
}

body {
	background-color: #E3E3E3;
	color: black;
	font-family:Arial;
	margin: 0px;
}

div.sisu {
	padding:50px;
	
}

p {
	font-family: Arial;
}

ul.lingid li {
	padding-bottom: 5px;
	font-style: italic;
}